.container{
  margin: 20%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: baseline;
  justify-content: space-between;
  align-content: center;
  }
.item{
  box-sizing: border-box;
  width: 100%;
  margin: 20%;
  background-color: white;

}
.item__button{
  height: 200px;
  background-color: #81F4E1;
  color: white;
  width: 400px;
  font-size: 30px;
}

.container2{
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.item2{
  box-sizing: border-box;
  width: 200px;
  height:100px;
  border: 1px solid black;
  background-color: #56CBF9;
  color: white;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-left:2%;
  font-size: 30px;
  font-family: monospace;
}
.item_buscar{
  box-sizing: border-box;
  width: 600px;
  height:100px;
  border: 1px solid black;
  background-color: white;
  color: white;
}

.container3{
  width: 70%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-around;
  align-content: center;
  font-family: 'Work Sans', sans-serif;

}

.item3{
  box-sizing: border-box;
  width: 30%;
  border: 1px solid black;
  background-color: #FF729F;
  color: white;
  margin-bottom: 2%;
}

nav {
  padding: 1em;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: space-between;
}
nav img{
  width: 40px;
  height: 40px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: flex-end;

}
nav li a {
  color: black;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
}

.container4{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: center;
  align-content: space-between;
  font-family: 'Work Sans', sans-serif;


}
.container4-2{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  font-family: 'Work Sans', sans-serif;


}
.item4_across{
  width: 100%;
  height: 20%;
  margin: 1%;
}

.item4{
  box-sizing: border-box;
  margin: 1%;

  width: 20%;
  height: 20%;
  background-color: #FF729F;
  color: white;
  justify-content: space-between;
}
